.weatherLocation{
    width: calc(100% - 30px);
    height: 200px;
    min-width: 400px;
    background-color: #ad5ce9;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px;
}