.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.detail{
  background-color: bisque;
  height: 100vh;
  width: 100%;
}

.app-bar{
  background-color: #3dbec9 !important;
  font-family: 'Signika', sans-serif !important;
}